@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

form {
    text-align: center;
    margin-top: 20%;
}

label {
    font-family: 'Nunito Sans', sans-serif;
}

input {
    display: block;
    margin: 0 auto;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}